#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 90rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

}

.bg {
    position: absolute;
    top: -4rem;
    right: -7rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;


}

.introContent {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.IntroPara {
    font-size: medium;
    font-weight: 300;
}

.hireMeBtn {
    font-size: 1rem;
    color: black;
    background: white;
    margin: 1rem 0;
    padding: 0.75 1.5rem;
    border: none;
    border-radius: 1rem;
    align-items: center;
    height: 2rem;
    width: 8rem;

}

.cvBtn {
    font-size: 1rem;
    color: black;
    background: white;
    margin: 1rem 0;
    padding: 0.75 1.5rem;
    border: none;
    border-radius: 1rem;
    align-items: center;
    height: 2rem;
    width: 14rem;

}

.hireMeImg {
    object-fit: cover;
    margin: 0rem 0.75rem;
    height: 1rem;

}

@media screen and (max-width:560px) {

    .introContent {
        font-size: medium;
    }

    .desktopBtnImg {
        justify-content: flex-end;
    }
}